{{first_name}} just invited you to Couple.
Couple is a shared diary for you and the one you love. Instantly share notes, photos and sound bites with each other. 
Above all, capture your moments all in one place, together. 

Get started:
a. download the Android App
b. Log in or sign up with your email address - {{email}}
c. Accept {{first_name}}'s invitation.
d. Start Sharing!

With lots of love,
- The Couple Team.